@using FlightAppLibrary.Models.Response

<div class="card mb-5 pb-4 mt-5">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 mb-2">Departure Weather</p>
                <p class="subtitle is-6">@WeatherDeparture.Location.Name</p>
                <p class="subtitle is-6">Temperature: @WeatherDeparture.CurrentWeather.TempC</p>
                <p class="subtitle is-6">Condition: @WeatherDeparture.CurrentWeather.Condition.Text</p>
                <img src="@WeatherDeparture.CurrentWeather.Condition.Icon" alt="Weather at departure airport"/>
            </div>
            <br />
            <div class="media-content">
                <p class="title is-4 mb-2">Arrival Weather</p>
                <p class="subtitle is-6">@WeatherArrival.Location.Name</p>
                <p class="subtitle is-6">Temperature: @WeatherArrival.CurrentWeather.TempC</p>
                <p class="subtitle is-6">Condition: @WeatherArrival.CurrentWeather.Condition.Text</p>
                <img src="@WeatherArrival.CurrentWeather.Condition.Icon" alt="Weather at arrival airport" />
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter] public WeatherResponse WeatherArrival { get; set; }
    [Parameter] public WeatherResponse WeatherDeparture { get; set; }
}
