@using FlightAppFrontend.Shared.Auth
@using FlightAppFrontend.Shared.Components.Utility
@using FlightAppFrontend.Shared.Extensions
@using FlightAppLibrary.Models.Dtos
@using System.Text.Json
@using System.Text
@using FlightAppLibrary.Models.Enums
@inject IHttpClientFactory ClientFactory
@inject TokenStateService tokenStateService

<div class="card">
    <header class="card-header is-clickable mt-5" @onclick="ToggleCard" style="cursor: pointer">
        <div class="media-left mr-0">
            <figure class="image is-64x64 ml-2 mt-2 is-square">
                <a href="@($"/profile/{Note.User!.Id}")">
                    <img src="@Note.User!.Avatar" alt="User Avatar" />
                </a>
            </figure>
        </div>
        
        <div class="card-header-title is-size-6 is-flex is-flex-direction-column is-align-items-flex-start">
            <span class="has-text-weight-bold">@Note.User!.DisplayName</span>
            <span class="is-size-7 has-text-weight-normal">@Note.TimeStamp.ToString()</span>
            <span>@Note.NoteText</span>
        </div>
        <div class="media-right is-flex is-flex-direction-column is-align-items-end ml-auto">
            <div class="is-flex is-align-items-center">
                @if (Note.UserId == CurrentUser.Id)
                {
                    <button class="button is-danger m-5" @onclick="DeleteNote">Delete</button>
                }

                <button class="card-header-icon" aria-label="more options">
                    @if (@isCardOpen)
                    {
                        <span class="icon"><i class="fas fa-angle-up" aria-hidden="true"></i></span>
                    }
                    else
                    {
                        <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
                    }
                </button>
            </div>
            <div style="margin-right: 70px;">
                <VoteFooter Comment="Note" UserId="@CurrentUser.Id" />
            </div>
        </div>
    </header>
    
    @if (isCardOpen)
    {
        @foreach (var reply in Note.Replies!)
        {
            <div class="media mb-0 pb-0" style="position: relative;">
                <div class="media-left ml-5">
                    <figure class="image is-64x64 ml-2 mt-2 is-square">
                        <img src="@reply.User!.Avatar" alt="User Avatar" />
                    </figure>
                </div>
                <div class="media-content">
                    <p class=" is-size-6"><strong>@reply.User!.DisplayName</strong></p>
                    <p class="is-size-7">@reply.TimeStamp.ToString()</p>
                    <p class="is-size-6"><strong>@reply.ReplyText</strong></p>
                </div>
                @if (reply.UserId == CurrentUser.Id)
                {
                    <div class="media-right">
                        <button class="button is-danger" style="position: absolute; top: 0; right: 0; margin-right: 80px; margin-top: 25px;" @onclick="() => DeleteReply(reply)">Delete</button>
                    </div>
                }
            </div>
            <div style="margin-right: 70px;">
                <VoteFooter Comment="reply" UserId="@CurrentUser.Id"/>
            </div>
        }
        <AddReplyCard Note="Note" OnReplyAdded="HandleReplyAdded" CurrentUser="CurrentUser"/>
    }
</div>

@code
{
    [Parameter] public NoteDto Note { get; set; }
    [Parameter] public UserDTO CurrentUser { get; set; }
    [Parameter] public EventCallback<NoteDto> OnNoteDeleted { get; set; }
    private bool isCardOpen = false;

    private void ToggleCard()
    {
        isCardOpen = !isCardOpen;
    }

    public void HandleReplyAdded(ReplyDto ReplyDto)
    {
        if (ReplyDto.User.DisplayName == null) ReplyDto.User.DisplayName = ReplyDto.User.FirstName;
        Note.Replies!.Add(ReplyDto);
    }

    public async Task DeleteNote()
    {
        var client = ClientFactory.CreateClient("DirigibleApi");
        await tokenStateService.UpdateHeaders(client);
        var response = await client.DeleteAsync($"notes/{Note.NoteId}");
        if (response.IsSuccessStatusCode)
        {
            isCardOpen = false;
            await OnNoteDeleted.InvokeAsync(Note);
        }
    }

    public async Task DeleteReply(ReplyDto replyDto)
    {
        var client = ClientFactory.CreateClient("DirigibleApi");
        var response = await client.DeleteAsync($"replies/{replyDto.ReplyId}");
        if (response.IsSuccessStatusCode)
        {
            Note.Replies.Remove(replyDto);
        }
    }
}
